* {
    font-family: 'Libre Baskerville', 'Helvetica', serif;
    color: #F2F1EF;
}

body {
    background: #03A678;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#app-title {
    font-size: 18px;
}

#app-description {
    font-size: 12px;
}

#post-div {
    width: 75%;
    height: 180px;
    margin: 100px auto;
    overflow: scroll;
    vertical-align: middle;
    display: table-cell;
}

#btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
}

.btn {
    border: solid 1px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 15px;
}

.btn:hover {
    animation: scaleSlowly 0.3s normal forwards;
}

@keyframes scaleSlowly {
    from {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Safari */
        transform: scale(1,1); /* Standard syntax */
    }

    to {
        -ms-transform: scale(1.05,1.05); /* IE 9 */
        -webkit-transform: scale(1.05,1.05); /* Safari */
        transform: scale(1.05,1.05); /* Standard syntax */
    }
}

#score {
    font-weight: bold;
    font-size: 35px;
}

#developer-links {
    margin-right: 20px;
}

#developer-links-list {
    list-style-type: none;
    text-align: left;
}

li {
    float: left;
    margin: 5px;
}

li a {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {

    #post-div {
        font-size: 15px;
        height: 230px;
    }

}

@media screen and (max-width: 700px) {

    #post-div {
        font-size: 12px;
        height: 190px;
    }

}

@media screen and (max-width: 500px) {

    #btn-group {
        flex-direction: column;
    }

}

@media screen and (max-width: 600px) {

    #post-div {
        font-size: 10px;
        height: 170px;
    }

}

@media screen and (max-width: 300px) {

    #post-div {
        font-size: 8px;
        height: 170px;
    }

}

@media screen and (max-width: 200px) {

    #post-div {
        font-size: 5px;
        height: 170px;
    }

}

@media screen and (max-width: 100px) {

    #post-div {
        font-size: 5px;
        height: 230px;
    }

}
